﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="app">
        <div>{{message}}</div>
        <div>
            <ol>
                <li v-for="m in members">{{m.MemberName}}({{m.Gender}})</li>
            </ol>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="jspage/index.js"></script>
</body>
</html>